<div
  style="">
  <h1 style="
  color: white;
  text-align: left;
  padding: 1rem;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
     -o-animation: fadein 2s; /* Opera < 12.1 */
        animation: fadein 2s;
">Fintan <span style="float: right; font-size: small">£125.34</span></h1>
  <ul style="
    width: 100%;
    padding-top: 10%;
    padding-right: 3%;
    color: white;
    font-size: 28px;"
  >
    <li style="    list-style: none;
    text-align: right;
    border: 1px solid;
    display: inline-block;
    width: 30%;
    padding: 20px;"><a href="" routerLink="/files" style="color: white">Files</a></li>
    <li style="    list-style: none;
    text-align: right;
    border: 1px solid;
    display: inline-block;
    width: 30%;
    padding: 20px;"><a href="" routerLink="/chat" style="color: white">Chat</a></li>
    <li style="    list-style: none;
    text-align: right;
    border: 1px solid;
    display: inline-block;
    width: 30%;
    padding: 20px;"><a href="" routerLink="/photos" style="color: white">Photos</a></li>
    <li style="    list-style: none;
    text-align: right;
    border: 1px solid;
    display: inline-block;
    width: 30%;
    padding: 20px;"><a href="" routerLink="/music" style="color: white">Music</a></li>
    <li style="    list-style: none;
    text-align: right;
    border: 1px solid;
    display: inline-block;
    width: 30%;
    padding: 20px;"><a href="" routerLink="/movies" style="color: white">Movies</a></li>
    <li style="    list-style: none;
    text-align: right;
    border: 1px solid;
    display: inline-block;
    width: 30%;
    padding: 20px;"><a href="" routerLink="/data" style="color: white">Data</a></li>
    <li style="    list-style: none;
    text-align: right;
    border: 1px solid;
    display: inline-block;
    width: 30%;
    padding: 20px;"><a href="" routerLink="/settings" style="color: white">Settings</a></li>

  </ul>

</div>

