<div style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('assets/user-background.jpg'); color: white; height: -webkit-fill-available;">
  <h1 style="
  text-align: left;
  padding: 1rem;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
     -o-animation: fadein 2s; /* Opera < 12.1 */
        animation: fadein 2s;
">Fintan</h1>

  <fa-icon [icon]="faCoffee"></fa-icon>

  <ul style="
    width: 100%;
    padding-top: 10%;
    padding-right: 3%;
    color: white;
    font-size: 28px;
">

    <li style="list-style: none; text-align: right;"><a href="" style="color: white">Your Wallet - £125.34</a></li>

    <li style="list-style: none; text-align: right;"><a href="" style="color: white">Messages</a></li>

    <li style="list-style: none; text-align: right;"><a href="" style="color: white">Calls / Video</a></li>

    <li style="list-style: none; text-align: right;"><a href="" style="color: white">Photos / Camera</a></li>

    <li style="list-style: none; text-align: right;"><a href="" style="color: white">Your encrypted data</a></li>

    <li style="list-style: none; text-align: right;"><a href="" style="color: white">Settings</a></li>

  </ul>

</div>

